*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  padding: 1rem;
  background-color: #f5f5f5;
}

form {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;

  fieldset {
    border: 1px solid #1a1a1a;
    padding: 0.5rem;
    display: grid;
    gap: 0.5rem;
    div {
      display: grid;
      grid-template-columns: 0.2fr 1fr;
      align-items: center;
      justify-content: space-between;
    }
  }

  input {
    max-width: 100%;
    padding-block: 0.5rem;
    padding-left: 0.5rem;
    background-color: transparent;
    border: 1px solid #1a1a1a;
  }
}

.submit {
  padding: 1rem;
  border: 1px solid #1a1a1a;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  font-weight: 700;
}

table {
  margin-top: 2rem;
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 1px solid black;
}

thead {
  border: 1px solid #1a1a1a;
}

th {
  text-align: left;
  padding: 0.5rem;
  background-color: #1a1a1a;
  color: white;
  font-weight: 500;

  &:not(:last-child) {
    border-right: 1px solid white;
  }

  &:last-child {
    width: 2rem;
  }
}

.delete {
  border: none;
  background-color: transparent;
  padding: 0.2rem;
  cursor: pointer;
}

td {
  word-wrap: break-word;

  &:not(:last-child) {
    padding-block: 0.75rem;
    padding-inline: 0.5rem;
  }
}
